*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    color: white;
    scrollbar-width: none;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.chat{
    width: 5vw;
    height: 5vw;
    display: flex;
    background-color: black;
    position: absolute;
    margin-top: -25vw;
    margin-left: -91vw;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    

}


.chat img{
    width: 80%;
}


.chatD{
    background-color: black;
    width: 30vw;
    height: 45vw;
    position: absolute;
    border-radius: 2vw;

    margin-left: -69vw;
    margin-top: 26vw;
    
    border: 2px solid red;
}

.chatD1{
    width: 100%;
    height: 4.5vw;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    /* padding: 1vw; */
    border-radius: 2vw;
    font-size: 1.2vw ;
    color: aquamarine ;
    font-weight: 700;
    border: 2px solid red;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.chatD1:hover{
    background-color: aquamarine;
    color: black;
}






body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
                 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                 'Helvetica Neue', Arial, sans-serif;
}


#input{
    width: 60vw;
    height: 5vw;
    
    border-radius: 2vw;
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 1vw;
    font-size: 1.5vw;
    border: 0.2vw solid rgb(16, 232, 160);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1vw;
    height: 10vw;
}

.btn{
    width: 4vw;
    height: 4vw;
    transform: rotate(-90deg);
    display: flex;
    background-color: rgb(16, 232, 160);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
.btn img{
    width: 3.6vw;
    height: 3.6vw;
    border-radius: 50%;

}

.name{
    width: 100%;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    color: aquamarine;
    margin-top: 1vw;
    font-weight: 800 ;
}

.all{
    width: 70vw;
    height: 70vh;
    overflow: scroll;
    border-radius: 2vw;
    margin-top: 1vw;
    display: none;
    flex-direction: column;
    padding-top: 2vw;
    padding-bottom: 5vw;
    align-items: center;
    border: 2px solid white;
}

.data{
    width: 90%;
    margin-top: 0.8vw;
    font-size: 1.2vw;
}

.title{
    width: 90%;
    margin-top: 3vw;
    font-size: 2vw;
    padding: 1.5vw 0;
    font-weight: 700;
}

.you{
    width: 70%;
    font-size: 1.5vw;
    background-color: aquamarine;
    border-radius: 1vw;
    color: black ;
    margin-left: 15vw;
    margin-top: 4vw;
    padding: 1vw;
    font-weight: 700;
}

.description{
    width: 90%;
    font-weight: 700;
    font-size: 1.2vw;
}

.wiki{
    width: 90%;
    height: aauto;
    background-color: rgb(42, 42, 42);
    font-size: 1vw;
    border-radius: 2vw;
    display: flex;
    cursor: pointer;
    margin-top: 1.5vw;
    margin-bottom: 1.2vw;
    padding: 0.8vw 1vw;
    justify-content: start;
    align-items: center;
    
    
}






















@media screen and (min-width : 800px) and (max-width : 1200px) {
    .name{
        height: 15vw;
        font-size: 5vw;
    }
    .all{
        width: 90vw;
        height: 60vh;
    }

    .flex{
        height: 20vw;
    }
    #input{
        height: 10vw;
        width: 75vw;
        border-radius: 5vw;
        border-width: 0.5vw;
        font-size: 4vw ;
    }
    .btn{
        width: 10vw;
        height: 10vw;
    }
    .btn img {
        width: 9.4vw;
        height: 9.4vw;
    }

    .you{
        padding: 2vw;
        font-size: 3.5vw;
        border-radius: 2.5vw;
    }
    .title{
        font-size: 3.5vw;
        margin-top: 2vw;
        
    }
    .description{
        font-size: 3.3vw;
        margin: 2vw;

    }
    .data{
        font-size: 2.8vw;
        margin: 2vw;

    }
    .wiki{
        font-size: 2vw;
        padding: 2vw;
        padding-left: 4vw;
        margin: 3vw;
    }
}



@media screen and (max-width : 800px) {
    .name{
        height: 15vw;
        font-size: 5vw;
    }
    .all{
        width: 90vw;
        height: 70vh;
    }

    .flex{
        height: 25vw;
    }
    #input{
        height: 15vw;
        width: 75vw;
        border-radius: 5vw;
        border-width: 0.5vw;
        font-size: 4vw ;
    }
    .btn{
        width: 13vw;
        height: 13vw;
    }
    .btn img {
        width: 13.4vw;
        height: 13.4vw;
    }

    .you{
        padding: 3.7vw;
        font-size: 4vw;
        border-radius: 4vw;
    }
    .title{
        font-size: 3.7vw;
        margin-top: 6vw;
        
    }
    .description{
        font-size: 3.5vw;
        margin: 3vw;

    }
    .data{
        font-size: 3.2vw;
        margin: 3vw;

    }
    .wiki{
        font-size: 2vw;
        padding: 2vw;
        padding-left: 4vw;
        margin: 3vw;
    }
}















