*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    /* border: 3px solid green; */

}


body{
    font-family: Inter, InterNeue, Inter Neue, sans-serif;
    background-color: black;
}


.main{
    width: 100%;
    height: auto;
    background-color: black;
    /* border: 3px solid green; */
}

.nav{
    width: 100%;
    height: 10vw;
    background-color: rgb(35, 29, 29);
    /* border: 3px solid green; */
    color: aquamarine;
    font-weight: 900;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.data{
    width: 100%;
    height: auto;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    padding-top: 4vw;
    padding-bottom: 4vw;

}

.data1{
    width: 85%;
    height: auto;
    border: 0.25vw solid black;
    background-color: rgb(33, 31, 31);
    border-radius: 3vw;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    
}
.data1:hover{
    width: 85%;
    height: auto;
    border: 0.25vw solid aquamarine;
    background-color: rgb(19, 18, 18);
    border-radius: 3vw;
    
}

.webname{
    width: 100%;
    height: 10vw;
    /* border: 2px solid red; */
    border-radius: 3vw 3vw 0 0 ;
    color: aquamarine;
    font-weight: 700;
    font-size: 3.5vw;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 3vw;
    transition: all 0.6s ease-in-out;
    letter-spacing: 0.2vw;

}
.webname:hover{
    width: 100%;
    height: 10vw;
    /* border: 2px solid red; */
    border-radius: 3vw 3vw 0 0 ;
    color: black;
    font-weight: 700;
    font-size: 3.5vw;
    background-color: rgb(37, 184, 135);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 3vw;

}

.webdata{
    width: 100%;
    height: 6vw;
    /* border: 2px solid red; */
    color: aquamarine;
    font-weight: 700;
    font-size: 1.5vw;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 3vw;
    letter-spacing: 0.2vw;
    transition: all 0.6s ease-in-out;

    /* border-radius: 3vw 3vw 0 0 ; */
}
.webdata:hover{
    width: 100%;
    height: 6vw;
    /* border: 2px solid red; */
    color: black;
    font-weight: 700;
    font-size: 1.5vw;
    display: flex;
    justify-content: start;
    background-color: rgb(37, 184, 135);
    align-items: center;
    padding-left: 3vw;
    letter-spacing: 0.15vw;

    /* border-radius: 3vw 3vw 0 0 ; */
}


.weblink{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    border-radius: 0 0 3vw 3vw;
    display: flex;
    cursor: auto;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 4vw;
    letter-spacing: 0.15vw;
    transition: all 0.6s ease-in-out;
    padding: 4vw;

    /* border-radius: 3vw 3vw 0 0 ; */
}
.weblink:hover{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    align-items: center;
    letter-spacing: 0.15vw;

}

.btn1{
    width: 50%;
    height: 5vw;
    border: 3px solid black;
    border-radius: 3vw;
    color: aliceblue;
    cursor: pointer;
    font-size: 1.7vw;
    background-color: black;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2vw;
    transition: all 0.3s ease-in-out;
    
}

.btn1:hover{
    width: 45%;
    height: 5vw;
    border: 3px solid aquamarine;
    border-radius: 3vw;
    cursor: pointer;
    background-color: rgb(37, 184, 135);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}














