*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0; */
}

body{
    width: 100%;
    height: 70vw;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 40vw;
    height: 60vw;
    border: 3px solid white;
    border-radius: 2vw;
    background-color: white;
    display: flex;
    gap: 2vw;
    flex-direction: column;
    justify-content: center;
    padding-top: 2vw;
    align-items: center;
    /* margin-left: -10vw; */
}

h1{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  rgb(105, 38, 193);
    font-weight: 900;
    /* border: 2px solid green; */
}

.subtitle{
    width: 100%;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 800;
    font-size: 1.5vw;
    /* border: 2px solid green; */

}

.score-section{
    width: 100%;
    height: 10vw;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.score-box{
    width: 38%;
    height: 100%;
    background: linear-gradient(to right ,#6926c1d2, rgba(128, 0, 128, 0.686));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 2vw;
    box-shadow: 5px 5px 15px;
}

h2{
    width: 100%;
    height: 2vw;
    text-align: center;
    color: white;
}

.score{
    width: 100%;
    height: 3vw;
    font-size: 3vw;
    color: white;
    text-align: center;
    font-size: 1000;
}

.timer-section{
    width: 100%;
    height: auto;
    color: #6509dc;
    text-align: center;
}

.timer-section h2{
    color: black;
}

.timer{
    font-weight: 800;
    font-size: 3vw;
}

.button-section{
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vw;
    /* border: 2px solid green; */
}

.click-btn{
    width: 80%;
    height: 4vw;
    border-radius: 2vw;
    background: gray;
    font-size: 2vw;
    font-weight: 800;
    /* box-shadow: 10px 10px 20px; */
    color: white;
    cursor: pointer;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
    user-select: none;
    
}

.start-btn{
    width: 80%;
    height: 3vw;
    border-radius: 1vw;
    background-color: purple;
    font-size: 1.5vw;
    font-weight: 500;
    color: white;
}

.reset-btn{
    width: 80%;
    height: 3vw;
    border-radius: 1vw;
    
    font-size: 1.5vw;
    background-color: red;
    font-weight: 500;
    color: white;
}
.pause-btn{
    width: 80%;
    height: 3vw;
    border-radius: 1vw;
    
    font-size: 1.5vw;
    background-color: darkorange;
    font-weight: 500;
    color: white;
}
.resume-btn{
    width: 80%;
    height: 3vw;
    border-radius: 1vw;
    
    font-size: 1.5vw;
    background-color: blue;
    font-weight: 500;
    color: white;
}

.status-message{
    font-size: 1.3vw;
    font-weight: 600;
    width: 100%;
    height: 3vw;
    text-align: center;
}

.video{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: -1;
}

.persec{
    width: 20vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5;
    font-weight: 700;
    border: 2px solid ;

}




