
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav{
    width: 100%;
    height: 6vw;
    display: flex;
    align-items: center;
    gap: 35vw;
    padding-left: 3vw;
    background-color: #F5F5F5;
    position: fixed;
    top: 0;
    /* border: 3px solid red; */
    
}

.menu img{
    width: 3.5vw;
    cursor: pointer;
}

.logo img{
    width: 13vw;
    cursor: pointer;
}

.all{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    margin-top: 10vw;
    margin-bottom: 5vw;



}

.box{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw ;
    align-items: center;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0.5vw 0.5vw 2vw ;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    /* border: 3px solid red; */
}
.box:hover{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw ;
    align-items: center;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0.5vw 0.5vw 2vw ;
    margin-left: 3vw;
    /* border: 3px solid red; */
}

.img{
    width: 35vw;
    height: 20vw;
    border-radius: 1vw;
    /* border: 3px solid red; */

}

.data{
    width: 40vw;
    height: 20vw;
    /* border: 3px solid red; */

}

.data1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2vw;
    font-size: 1.5vw;
    font-weight: 800;

    /* border: 3px solid red; */

}

.data2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2vw;
    font-size: 1.2vw;
    font-weight: 500;

    /* border: 3px solid red; */

}

.btn{
    width: 15vw;
    height: 5vw;
    font-size: 1.5vw;
    border-radius: 3vw;
    margin-left: 42vw;
    margin-bottom: 5vw;
    color: white;
    font-weight: 900;
    cursor: pointer;
    border: 0;
    transition: all 0.2s ease-in-out;
    background-color: #F44336;
}
.btn:hover{
    width: 15vw;
    height: 5vw;
    font-size: 1.7vw;
    border-radius: 3vw;
    margin-left: 42vw;
    margin-bottom: 5vw;
    color: white;
    font-weight: 900;
    cursor: pointer;
    border: 0;
    background-color: #F44336;

    box-shadow: 0.5vw 0.5vw 1.5vw black;
}





@media screen and (max-width : 900px) {
    .img{
        width: 70vw;
        height: auto;
        border-radius: 3vw;
    }
    .box{
        padding: 5vw;
        border-radius: 3vw;
    }
    .box:hover{
        padding: 5vw;
        border-radius: 3vw;
    }
    .all{
        gap: 5vw;
        margin-top: 20vw;
        margin-bottom: 10vw;

    }
    .data{
        width: 70vw;
        height: auto;
    }
    .data1{
        font-size: 3vw;
    }
    .data2{
        font-size: 2vw;
    }
    .btn{
        
        width: 25vw;
        margin-left: 37vw;
        margin-bottom: 20vw;
        height: 10vw;
        font-size: 4vw;


    }
    .btn:hover{
        
        width: 25vw;
        margin-left: 37vw;
        margin-bottom: 20vw;
        height: 10vw;
        font-size: 4.5vw;


    }
    .nav{
        height: 15vw;
    }
    .logo img{
        width: 25vw;
        margin-left: -5vw;
    }

    .menu img{
        width: 8vw;
    }
    





}









































/* Footer Base */
.footer {
    background: #0f0f0f;
    color: #ffffff;
    padding: 5vh 6vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border-top: 0.1vw solid #333;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
}

/* Left Section */
.footer-left {
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.footer-logo img {
    width: 10vw;
}


.footer-info p {
    font-size: 1vw;
}

/* Middle Links */
.footer-mid {
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
}

.footer-mid a {
    position: relative;
    color: #bbbbbb;
    text-decoration: none;
    font-size: 1.1vw;
    transition: 0.3s ease;
}

/* Hover underline */
.footer-mid a::after {
    content: "";
    position: absolute;
    bottom: -0.4vh;
    left: 0;
    width: 0%;
    height: 0.25vh;
    background: #ff4d4d;
    transition: 0.35s ease;
}

.footer-mid a:hover {
    color: #ffffff;
}

.footer-mid a:hover::after {
    width: 100%;
}

/* Right Social Icons */
.footer-right {
    display: flex;
    gap: 1vw;
}

.footer-right a {
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #1c1c1c;
    color: #bbbbbb;
    transition: 0.3s ease;
    font-size: 1.2vw;
}

/* Icon glow hover effect */
.footer-right a:hover {
    background: #ff4d4d;
    color: #ffffff;
    box-shadow: 0 0 1.2vw rgba(255, 77, 77, 0.6);
    transform: translateY(-0.5vh);
}

.img1{
    width: 80%;
    border-radius: 50%;

}

.fab{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive (Mobile) */
@media (max-width: 768px) {

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3vh;
        padding: 6vh 5vw;
        font-size: 3vw;
    }

    .footer-logo img {
        width: 20vw;
    }

    

    .footer-mid a {
        font-size: 3.5vw;
    }

    .footer-right a {
        width: 8vw;
        height: 8vw;
        font-size: 4vw;
    }

    .fab{
    display: flex;
    justify-content: center;
    align-items: center;
    }
}











.hamdata{
    width: 25vw;
    height: 40vw;
    position: fixed;
    top: 6vw;
    border-radius: 1vw;
    background-color: black;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100vw);
    transition: all 0.8s ease-in-out;




    /* border: 3px solid red; */
}


.hamdata1{
    width: 100%;
    height: 5vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    padding: 2vw;
    color: white;
    font-size: 1.5vw;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    /* border: 3px solid red; */


}
.hamdata1:hover{
    width: 100%;
    height: 5vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    padding: 2vw;
    color: black;
    font-size: 1.6vw;
    border: 0.2vw solid black;
    background-color: white;
    /* border: 3px solid red; */
    transform: translateX(1vw);

}


.hamdata2{
    width: 100%;
    height: 5vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    padding: 2vw;
    color: black;
    background-color: white;
    font-size: 1.5vw;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    /* border: 3px solid red; */


}
.hamdata2:hover{
    width: 100%;
    height: 5vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    padding: 2vw;
    color: black;
    background-color: white;
    font-size: 1.6vw;
    border: 0.2vw solid black;
    /* border: 3px solid red; */
    transform: translateX(1vw);

}












@media screen and (max-width : 900px) {
    .hamdata{
        width: 60vw;
        height: 85vw;
        margin-top: 10vw;
        border-radius: 4vw;
    }
    .hamdata1{
        height: 10vw;
        padding-left: 5vw;
        font-size: 3.5vw;
    }
    .hamdata1:hover{
        height: 10vw;
        padding-left: 5vw;
        font-size: 3.5vw;
    }
}





















