
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

.nav{
    width: 100%;
    height: 6vw;
    display: flex;
    align-items: center;
    
    padding-left: 3vw;
    background-color: #F5F5F5;
    position: fixed;
    top: 0;
    /* border: 3px solid red; */
    
}

.search{
    width: 20vw;
    height: 4vw;
    border-radius: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.5vw;
    font-weight: 700;
    border: 0.2vw solid #F44336;
    margin-left: 20vw;

}

.menu img{
    width: 3.5vw;
    cursor: pointer;
}

.logo img{
    width: 13vw;
    margin-left: 35vw;
    cursor: pointer;
}

.all{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    margin-top: 10vw;
    margin-bottom: 5vw;



}

.box{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw ;
    align-items: center;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0.5vw 0.5vw 2vw ;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    /* border: 3px solid red; */
}


.img{
    width: 35vw;
    height: 20vw;
    border-radius: 1vw;
    /* border: 3px solid red; */

}

.data{
    width: 40vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 3px solid red; */

}

.data1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.2vw;
    padding-top: 0;
    font-size: 2vw;
    font-weight: 800;

    /* border: 3px solid red; */

}

.data2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.2vw;
    font-size: 1.2vw;
    font-weight: 800;
    color: gray;

    /* border: 3px solid red; */

}


.data3{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.2vw;
    font-size: 1.5vw;
    font-weight: 500;

    /* border: 3px solid red; */

}

.data4{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.2vw;
    font-size: 1vw;
    font-weight: 700;
    color: #F44336;
    /* border: 3px solid red; */

}

.btn{
    width: 15vw;
    height: 5vw;
    font-size: 1.5vw;
    border-radius: 3vw;
    margin-left: 42vw;
    margin-bottom: 5vw;
    color: white;
    font-weight: 900;
    cursor: pointer;
    border: 0;
    transition: all 0.2s ease-in-out;
    background-color: #F44336;
}
.btn:hover{
    width: 15vw;
    height: 5vw;
    font-size: 1.7vw;
    border-radius: 3vw;
    margin-left: 42vw;
    margin-bottom: 5vw;
    color: white;
    font-weight: 900;
    cursor: pointer;
    border: 0;
    background-color: #F44336;

    box-shadow: 0.5vw 0.5vw 1.5vw black;
}

.meg{
    width: 8vw;
    border-radius: 50%;
    padding: 1vw;
    display: none;
    margin-left: 2vw;
    border: 0.3vw solid #F44336;
}



@media screen and (max-width : 900px) {
    .img{
        width: 70vw;
        height: auto;
        border-radius: 3vw;
    }
    .box{
        padding: 5vw;
        border-radius: 3vw;
    }
    .box:hover{
        padding: 5vw;
        border-radius: 3vw;
    }
    .all{
        gap: 5vw;
        margin-top: 20vw;
        margin-bottom: 10vw;

    }
    .data{
        width: 70vw;
        height: auto;
    }
    .data1{
        font-size: 5vw;
        margin-top: 4vw;
    }
    .data2 {
        font-size: 2vw;
    }
    .data3 {
        font-size: 3vw;
    }
    .data4 {
        font-size: 2vw;
    }
    .btn{
        
        width: 25vw;
        margin-left: 37vw;
        margin-bottom: 20vw;
        height: 10vw;
        font-size: 4vw;


    }
    .btn:hover{
        
        width: 25vw;
        margin-left: 37vw;
        margin-bottom: 20vw;
        height: 10vw;
        font-size: 4.5vw;


    }
    .nav{
        height: 15vw;
    }
    .logo img{
        width: 25vw;
        margin-left: 1vw;
    }

    .menu img{
        width: 8vw;
    }
    
    .search{
        width: 40vw;
        height: 7vw;
        font-size: 3vw;
        padding-left: 2vw;
        margin-left: 9vw;

    }
    .meg{
        display: flex;
    }




}









































/* Footer Base */
.footer {
    background: #0f0f0f;
    color: #ffffff;
    padding: 5vh 6vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border-top: 0.1vw solid #333;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
}

/* Left Section */
.footer-left {
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.footer-logo img {
    width: 10vw;
}


.footer-info p {
    font-size: 1vw;
}

/* Middle Links */
.footer-mid {
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
}

.footer-mid a {
    position: relative;
    color: #bbbbbb;
    text-decoration: none;
    font-size: 1.1vw;
    transition: 0.3s ease;
}

/* Hover underline */
.footer-mid a::after {
    content: "";
    position: absolute;
    bottom: -0.4vh;
    left: 0;
    width: 0%;
    height: 0.25vh;
    background: #ff4d4d;
    transition: 0.35s ease;
}

.footer-mid a:hover {
    color: #ffffff;
}

.footer-mid a:hover::after {
    width: 100%;
}

/* Right Social Icons */
.footer-right {
    display: flex;
    gap: 1vw;
}

.footer-right a {
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #1c1c1c;
    color: #bbbbbb;
    transition: 0.3s ease;
    font-size: 1.2vw;
}

/* Icon glow hover effect */
.footer-right a:hover {
    background: #ff4d4d;
    color: #ffffff;
    box-shadow: 0 0 1.2vw rgba(255, 77, 77, 0.6);
    transform: translateY(-0.5vh);
}

.img1{
    width: 80%;
    border-radius: 50%;

}

.fab{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive (Mobile) */
@media (max-width: 768px) {

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3vh;
        padding: 6vh 5vw;
        font-size: 3vw;
    }

    .footer-logo img {
        width: 20vw;
    }

    

    .footer-mid a {
        font-size: 3.5vw;
    }

    .footer-right a {
        width: 8vw;
        height: 8vw;
        font-size: 4vw;
    }

    .fab{
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .footer-right {
    display: flex;
    gap: 5vw;
    }
}











.hamdata{
    width: 25vw;
    height: auto;
    position: fixed;
    top: 5vw;
    border-radius: 1vw;
    background-color: black;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100vw);
    transition: all 0.5s ease-in-out;




    /* border: 3px solid red; */
}


.hamdata1{
    width: 100%;
    height: 4vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    padding: 2vw;
    color: white;
    font-size: 1.5vw;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    /* border: 3px solid red; */


}
.hamdata1:hover{
    width: 100%;
    height: 4vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    padding: 2vw;
    color: black;
    font-size: 1.6vw;
    background-color: white;
    /* border: 3px solid red; */
    

}


.hamdata2{
    width: 100%;
    height: 5vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    padding: 2vw;
    color: black;
    background-color: white;
    font-size: 1.5vw;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    /* border: 3px solid red; */


}
.hamdata2:hover{
    width: 100%;
    height: 5vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    padding: 2vw;
    color: black;
    background-color: white;
    font-size: 1.6vw;
    border: 0.2vw solid black;
    /* border: 3px solid red; */
    transform: translateX(1vw);

}


.logoB{
    width: 15vw;
    background-color: aliceblue;
    border-radius: 2vw;
    
    position: fixed;
    cursor: pointer;
    top: 45vw;
    right: 2vw;

    /* animation: ani1 7s infinite ease-in-out; */
}

@keyframes ani1 {
    0%{
        top : 45vw;
    }
    40%{
        top : 44vw;
    }
    60%{
         top : 45vw;
    }
    70%{
         top : 44vw;
    }
    100%{
        top : 45vw;
    }
    
}



@keyframes ani2 {
    0%{
        top : 160vw;
    }
    40%{
        top : 158vw;
    }
    60%{
         top : 160vw;
    }
    70%{
         top : 158vw;
    }
    100%{
        top : 160vw;
    }
    
}











@media screen and (max-width : 900px) {
    .hamdata{
        width: 60vw;
        height: 150vw;
        margin-top: 10vw;
        justify-content: space-evenly;
        border-radius: 4vw;
    }
    .hamdata1{
        height: 10vw;
        padding-left: 5vw;
        font-size: 3.7vw;
    }
    .hamdata1:hover{
        height: 10vw;
        padding-left: 5vw;
        font-size: 3.5vw;
    }
    .logoB{
        top: 160vw;
        left: 70vw;
        width: 25vw;
        border-radius: 5vw;
        /* animation: ani2 7s infinite ease-in-out; */
    }
}





















