

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    
    
}


body {
    /* font-family:  ScandiaWeb, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif; */
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    overflow-x: hidden;
    scrollbar-width: none;
    background-color: black;

}


.main{
    width: 100%;
    height: auto;
    /* border: 3px solid yellow; */
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 7vw;
}

.nav{
    width: 100%;
    height: 7vw;
    /* border: 3px solid green; */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5vw;
    gap: 0.5vw;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo{
    width: 10vw;
    height: 6vw;
    margin-right: 5vw;
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: 700;
    background-color: black;
    color: white;
}

.navdata{
    color: white;
    width: 7vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    border-radius: 1vw;
    border: 0.2vw solid black;
    cursor: pointer;
    transition: all 0.6s ease-in-out;

}
.navdata:hover{
    color: white;
    width: 7vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    border-radius: 1vw;
    border: 0.2vw solid rgb(169, 169, 169);

}

#login{
    margin-left: 23vw;

}

.mainfont1{
    font-size: 4.5vw;
    width: 30vw;
    text-align: center;
    margin-top: 5vw;
    /* border:2px solid white */
}
.mainfont2{
    font-size: 1.5vw;
    width: 35vw;
    text-align: center;
    margin-top: 3vw;
    color: rgb(175, 175, 175);
    /* border:2px solid white; */
}

.mainimg{
    width: 100%;
    height: 60vw;
    margin-top: 5vw;
    /* border: 2px solid white; */
}

.mainbtn{
    width: 14vw;
    height: 4vw;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    border-radius: 0.5vw;
    font-weight: 700;
    margin-top: 3vw;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.mainbtn:hover{
    opacity: 0.8;
}

.mainfont3{
    width: 25vw;
    height: 4vw;
    color: white;
    font-size: 3vw;
    text-align: center;
    /* border:2px solid white; */
    margin-top: 10vw;

    
}

.scrol{
    width: 100%;
    height: 10vw;
    /* border:2px solid white; */
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    justify-content: start;
    margin-top: 3vw;
}

.inimg{
    width: 85vw;
    height: 10vw;
    /* border: 2px solid white; */
    transition: all 1s ease-in-out;
    cursor: pointer;

}

.mainfont4{
    /* border: 2px solid white; */
    width: 20vw;
    height: auto;
    font-size: 1.5vw;
    text-align: center;
    margin-top: 2vw;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;

}
.mainfont4:hover{
    opacity: 1;
    filter: brightness(1);

}

.mainfont5{
    width: 40vw;
    height: auto;
    font-size: 3vw;
    text-align: center;
    margin-top: 10vw;
    /* border: 2px solid white; */

}

.part1{
    width: 100%;
    height: auto;
    margin-top: 10vw;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.part1img{
    width: 40vw;
    height: 40vw;
    /* border: 2px solid white; */
    display: block;
}

.part1data{
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    /* border: 2px solid white; */


}

.part1font1{
    width: 100%;
    /* border: 2px solid white; */
    padding-left: 3vw;
    font-size: 1.5vw;
}

.part1font2{
    width: 100%;
    /* border: 2px solid white; */
    padding-left: 3vw;
    padding-right: 3vw;

    font-size: 3vw;
}

.part1font3{
    width: 100%;
    /* border: 2px solid white; */
    padding-left: 3vw;
    padding-right: 3vw;

    font-size: 1.3vw;
    margin-top: 1.5vw;
}

.part1font4{
    width: 100%;
    /* border: 2px solid white; */
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.3vw;
    opacity: 0.7;
    margin-top: 2vw;

    cursor: pointer;
}

.part1font4:hover{
    width: 100%;
    /* border: 2px solid white; */
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.3vw;
    opacity: 1;

    cursor: pointer;
}

.ani1{
    width: 130vw;
    height: 17vw;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    gap: 1vw;
    padding-left: 1vw;
    animation: ani1 30s infinite ease-in-out;    

}

.ani2{
    width: 130vw;
    height: 17vw;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    gap: 1vw;
    padding-left: 1vw;
    animation: ani2 30s infinite ease-in-out;   


}

.aniimg{
    width: 15vw;
    border-radius: 1vw;
    /* display: block; */
}

.part1img2{
    width: 40vw;
    height: 40vw;
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: #dbd9d1;
    cursor: pointer;
}


@keyframes ani1 {
    0%{
        transform: translateX(0vw);
    }
    50%{
        transform: translateX(-90vw);

    }
    100%{
        transform: translateX(0vw);

    }
    
}

@keyframes ani2 {
    0%{
        transform: translateX(-90vw);
    }
    50%{
        transform: translateX(0vw);

    }
    100%{
        transform: translateX(-90vw);

    }
    
}

.mainfont6{
    width: 100%;
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-weight: 600;
    margin-top: 10vw;
    /* border: 3px solid red; */
}

.column{
    width: 100%;
    height: 17vw;
    /* border: 2px solid white; */
    column-count: 3;
    margin-top: 2vw;
}

.columnfont1{
    width: 100%;
    height: 14vw;
    /* border: 2px solid white; */
    font-size: 4vw;
    font-weight: 550;

}

.columnt1{
    width: 100%;
    height: 8vw;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.columnt2{
    font-size: 1vw;
    width: 100%;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    /* border: 2px solid white; */

}

.blackscrolbox{
    width: 100%;
    height: auto;
    /* border: 8px solid red; */
    margin-top: 8vw;
    overflow: auto;
    scrollbar-width: none;

}

.blacksection{
    width: 400vw;
    height: auto;
    display: flex;
    padding-left: 14vw;
    display: flex;
    align-items: center;
    gap: 5vw;
    /* border: 2px solid green; */
    transition: all 1s ease-in-out;
    touch-action: pan-y;
    
    

}

.blackimg1{
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4vw;
    /* border: 2px solid red; */

}

.blackimage{
    width: 70%;
    border-radius: 0.5vw;
    transition: all 1.5s ease-in-out;
    /* height: 45vw; */
    
}


.blackimagetext{
    width: 50vw;
    height: auto;
    font-size: 1.5vw;
    margin-top: 6vw;
    /* border: 2px solid red; */

}

.blackimgdata{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    flex-wrap: wrap;

}

.mainbtn1{
    width: 14vw;
    height: 4vw;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    border-radius: 0.5vw;
    font-weight: 700;
    cursor: pointer;
    margin-top: 4vw;
    /* border: 2px solid red; */

    transition: all 0.4s ease-in-out;
}
.mainbtn1:hover{
    color: white;
    background-color: rgb(158, 158, 158);
}

.grayfont{
    width: 100%;
    height: auto;
    color: gray;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 2px solid red; */
    font-size: 1.5vw;

}

.mainfont7{
    width: 100%;
    height: 5vw;
    font-size: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainfont8{
    width: 100%;
    height: 5vw;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
}

.textdetailbox{
    width: 100%;
    height: 30vw;
    margin-top: 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    /* border: 3px solid red; */
}


.textdetailboxdata{
    width: 50%;
    height: 15vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3vw;
    /* border: 3px solid red; */
}
.textdetailboxdata11{
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 3px solid red; */
}
.textdetailboxdata1{
    width: 3vw;
    /* border: 3px solid red; */
}

.textdetailboxdata2{
    width: 100%;
    height: auto;
    font-weight: 600;

    font-size: 1.8vw;
    /* border: 3px solid red; */

}

.textdetailboxdata3{
    width: 100%;
    height: auto;
    font-size: 1.3vw;
    font-weight: 500;
    /* border: 3px solid red; */

}

#thomas{
    width: 100%;
    height: 60vw;
    background-color: #ced8d9;
    color: black;
    /* border: 3px solid red; */
}

#thomasimg{
    width: 45vw;
    margin-top: -7vw;
    height: auto;
}

.thomasimgout{
    width: 45vw;
    height: 50vw;
    overflow: hidden;
    /* border: 3px solid red; */

}

#thomast1{
    font-size: 1.8vw;
}


#thomast3{
    margin-top: -0.5vw
}

.lastline{
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 17vw;
    /* border: 3px solid red; */
    margin-top: 4vw;
}

.lastline1{
    width: 60vw;
    height: 7vw;
    font-size: 2vw;
    display: flex;
    align-items: center;
    /* border: 3px solid red; */

}
.lastline2{
    width: 20vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */

}

#btnid{
    margin: 0;
    border-radius: 2vw;
}


.bottom{
    width: 100%;
    height: auto;
    margin-top: 5vw;
    /* border:  3px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.bottomlogo{
    width: 18vw;
    height: 30vw;
    /* border:  3px solid red; */
    padding-top: 3vw;
}

.bottom1{
    width: 20vw;
    height: 30vw;
    display: flex;

    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* border:  3px solid red; */

}

.bottom1t1{
    width: 100%;
    height: 3vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: start;
    align-items: center;
    color: gray;
    margin-bottom: 3vw;
    /* border:  3px solid red; */

}

.bottom1t2{
    width: 100%;
    height: 3vw;
    font-size: 1.2vw;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border:  3px solid red; */

}


.copy{
    width: 100%;
    height: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    /* border:  3px solid red; */
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.copy1{
    width: 60vw;
    height: 10vw;
    /* border:  3px solid red; */
    font-size: 1vw;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy2{
    width: 35vw;
    height: 10vw;
    /* border:  3px solid red; */
    font-size: 1vw;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ham{
    width: 7vw;
    display: none;
    /* border:  3px solid red; */
    
}


























@media screen and (max-width:1000px) {
    .part1img{
        width: 70vw;
        height: 70vw;
    }
    .part1data{
        width: 60vw;
        height: 40vw;
    }
    .part1font1{
        font-size: 2.5vw;
    }
    .part1font2{
        font-size: 4vw;
    }
    .part1font3{
        font-size: 3vw;
    }
    .part1font4{
        font-size: 2.5vw;
    }
    #wrep1{
        flex-wrap: wrap-reverse;
    }
    #wrep2{
        flex-wrap: wrap-reverse;
    }
    .part1img2{
        width: 60vw;
    }
    .mainbtn{
        width: 25vw;
        height: 6vw;
        font-size: 2.5vw;
    }
    .mainbtn1{
        width: 30vw;
        height: 7vw;
        font-size: 3vw;
        border-radius: 2vw;
        margin-top: 3vw;
    }
    .mainfont2,.mainfont4{
        font-size: 2.5vw;
        width: 40vw;
    }
    .main{
        overflow-x: hidden;
    }
    .columnt2{
        font-size: 2vw;
        text-align: center;
    }
    .columnt1{
        font-size: 6vw;
    }
    .blackimagetext{
        font-size: 3.5vw;
        text-align: center;
        width: 90%;
    }
    .grayfont{
        font-size: 3vw;
        margin-top: 2vw;
    }
    #thomas{
        height: 200vw;
    }
    #thomaspart1data{
        height: 60vw;
    }

    #thomast1{
    font-size: 4vw;
    text-align: center;
    }

    #thomast2{
    font-size: 3vw;
    text-align: center;

    }
    #thomast3{
    margin-top: -0.1vw;
    font-size: 3vw;
    text-align: center;

    }
    .thomasimgout{
        width: 70vw;
        height: 106vw;
    }
    #thomasimg{
        margin-top: 0vw;
        width: 70vw;
    }


    .textdetailbox{
        height: auto;
    }
    .textdetailboxdata{
        width: 100%;
        padding: 5vw;
        gap: 2vw;
        height: 40vw;
    }
    .textdetailboxdata11{
        justify-content: center;
    }
    .textdetailboxdata1{
        width: 10vw;
    }
    .textdetailboxdata2{
        font-size: 4vw;
        text-align: center;
    }
    .textdetailboxdata3{
        font-size: 3vw;
        text-align: center;

    }

    .lastline{
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0vw;
    /* border: 3px solid red; */
    margin-top: 4vw;
}

.lastline1{
    width: 100vw;
    height: 7vw;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */

}
.lastline2{
    width: 33vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */

}
#btnid{
    margin: 0;
    font-size: 3.5vw;
    width: 30vw;
    height: 9vw;
}

.bottomlogo{
    width: 100%;
    height: 15vw;
    padding: 0;
    margin-bottom: 5vw;
    /* border: 3px solid red; */
}

.bottom1{
    width: 40vw;
}

.bottom1t1{
    font-size: 2.5vw;
}

.bottom1t2{
    font-size: 2vw;
    height: 4vw;
}

.bottom{
    padding-left: 5vw;
}


.main{
    margin-top: 10vw;
}

#nav{
    position: fixed;
    height: 13vw;
    z-index: 2;
    top: 0;
}

.logo{
    width: 30vw;
    height: 13vw;
    font-size: 4.5vw;
}

.navdata{
    display: none;
}

.nav{
    gap: 45vw;
}

.ham{
    display: block;
}

.copy1, .copy2{
    font-size: 2vw;

}

#img4{
    margin-bottom: 6vw;
}

.mainfont8{
    font-size: 4.5vw;
}










    

}










