* {
  margin: 0;
  padding: 0;
  scrollbar-width:  none;
  box-sizing: border-box;
}

.nav1{
  width: 100%;
  height: 7vw;
  position: fixed;
  top: 0 ;
  gap: 2vw;
  display: flex;
  justify-content: center;
  z-index: 10;
  align-items: center;
  background-color: rgb(52, 52, 52);
}

.app1 {
  width: 100%;
  height: auto;
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.card {
  width: 80vw;
  height: 10vw;
  padding: 1vw;
  border: 0.2vw solid black;
}

.name {
  width: 100%;
  height: 25%;
  padding-left: 1vw;

}

.btn {
  width: 10dvw;
  height: 4vw;
  font-size: 2vw;
  color: white;
  background-color: darkgreen;
  border-radius: 2vw;
}

#b1 {
  margin-top: 10vw;
}

.flex {
  display: flex;
  gap: 1vw;
}

.page {
  text-align: center;
  margin-top: 2vw;
}

.app3 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5vw;
  gap: 1vw;
  border: 2px solid;
}

.app4 {
  width: 100%;
  height: 60vw;
  display: flex;
  justify-content: center;
  align-items: start;
  border: 2px solid;
}

.img1 {
  margin-top: 2vw;
  width: 33vw;
}


.img2 {
  width: 5vw;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  margin-left: 27vw;
  margin-top: 32vw;
}

.img2:active{
  transform: scale(1.1);
}

.num1 {
  position: absolute;
  color: white;
  font-size: 2vw;
  font-weight: 800;
  margin-left: 27vw;
  margin-top: 38vw;
}