*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}
body {
  font-family: 'Poppins', sans-serif;
}

.nav {
  width: 100%;
  height: 8vw;
  top: 0;
  z-index: 10;
  position: fixed;
  background-color: black;
  color: white ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid; */
}

.h1{
  width: 10vw;
  height: 5vw;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  cursor: pointer;
  background-color: darkgreen;
  border-radius: 2vw ;

}

.home{
  margin-top: 10vw;
  width: 100%;
  height: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
    


  /* border: 2px solid; */

}

.card{
  width: 20vw;
  cursor: pointer;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid; */
  border-radius: 1vw ;
  transition: all 0.5s ease-in-out;
  padding: 1vw 0;
  background-color: white;

}

.card:hover{
  transform: scale(1.1);
}

.img{
  width: 17vw;
  border-radius: 1.5vw ;
  height: 25vw;
  /* border: 2px solid; */
  transition: all 0.5s ease-in-out;
}
.img:hover{
  width: 17vw;
  
  border-radius: 0vw ;
  height: 25vw;

}

a{
  color: white;
  text-decoration: none;
}

.title{
  margin-top: 1.5vw;
  width: 17vw;
  height: auto;
  background-color: darkgreen;
  padding: 1vw;
  color: white;
  text-align: center;
  display: flex;
  font-size: 1.5vw;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  border-radius: 1vw ;
  
  
  /* border: 2px solid; */

  
}

.food{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid; */
  justify-content: center;
  gap: 3vw;
  margin-top: 5vw;
  padding: 10vw 0;
}

.description{
  margin-top: 1vw;
  width: 17vw;
  height: auto;
  padding: 1vw;
  text-align: center;
  display: flex;
  font-size: 1vw;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  border-radius: 1vw ;
  color: black;
  
  border: 2px solid;

}




@media screen and (max-width: 900px) {
  .card {
    width: 40vw; 
    height: 70vw;
  }
  .img{
    width: 35vw;
    height: 50vw;
  }
  .card:hover{
    width: 40vw; 

  }
  .title{
    margin-top: 5vw;
    width: 30vw;
    height: auto;
    padding: 3vw 0;
    border-radius: 3vw;
    font-size: 3.5vw;
  }

  .nav{
    height: 15vw;
  }

  .h1{
    width: 18vw;
    height: 10vw;
    font-size: 3vw;
  }

  .home{
    margin-top: 25vw ;
    margin-bottom: 30vw ;
    gap: 10vw;
  }

  .home .card {
    width: 70vw;
    height: 95vw;
    border-radius: 5vw;
  }
  .home .img {
    width: 60vw;
    height: 70vw;
  }
}

.input{
    width: 70vw;
    height: 5vw;
    padding: 0px 2vw ;
    position: fixed;
    margin-top: -7vw;
    z-index: 5;
    border-radius: 2vw;
    font-size: 2vw;
}

