.all{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    margin-top: 5vw;
    margin-left: 2vw;
}

.class{
    width: 25vw;
    height: 40vw;
    border: 2px solid black;
    padding: 2vw;
    font-size: 1.2vw;
    border-radius: 2vw;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    
}
.class:hover{
    width: 25vw;
    height: 40vw;
    border: 2px solid black;
    padding: 2vw;
    font-size: 1.2vw;
    border-radius: 2vw;
    box-shadow: 1px 10px 25px;
    transform: scale(1.05);

}

.btn{
    width: 15vw;
    height: 5vw;
    border-radius: 3vw;
    margin-left: 40vw;
    margin-top: 5vw;
    font-size: 1.5vw;
    font-weight: 800;
    color: white;
    cursor: pointer;
    background: linear-gradient( to right , blue , rgb(243, 30, 65));
}
.btn:hover{
    width: 15vw;
    height: 5vw;
    border-radius: 3vw;
    background: linear-gradient( to right , rgb(243, 30, 65) , blue);
}

.img{
    width: 25vw;
}

.id{
    font-size: 1.5vw ;
}

.name{
    font-size: 1.5vw;
}
.disc{
    font-size: 1.3vw;
}

@media screen and (max-width : 500px) {
    .class{
        width: 40%;
        height: 70vw;
    }
    .class:hover{
        width: 40%;
        height: 70vw;
    }
    .img{
        width: 100%;
    }
    .id{
        font-size: 3vw;
    }
    .name{
        font-size: 3vw;
    }
    .disc{
        font-size: 2.5vw;
    }
    .btn{
        width: 25vw;
        height: 10vw;
        border-radius: 6vw;
        font-size: 3vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
    .btn:hover{
        width: 25vw;
        height: 10vw;
        border-radius: 6vw;
        font-size: 3vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

}






