* {
    margin: 0px;
    padding: 0px;
    border-radius: 0px solid;
}

body {
    font-family: Inter, InterNeue, Inter Neue, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    background-color: black;
    color: white;
    
}


.main{
    width: 100%;
    height: auto;
    border: 4px solid green;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 5vw;
}

.nav{
    width: 100%;
    height: 5vw;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    gap: 45vw;
    align-items: center;
}

.logo{
    width: 15vw;
    height: 5vw;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoimg{
    width: 7vw;
}

.navdata{
    width: 30vw;
    height: 5vw;
    /* border: 4px solid green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navdata1{
    width: 6vw;
    height: 3vw;
    border: 3px solid black;
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    font-size: 1vw;
}
.navdata1:hover{
    width: 6vw;
    height: 3vw;
    border: 2px solid aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aquamarine;
    transition: all 0.2s ease-in-out;
    background-color: rgb(55, 54, 54);
}
.navdata2{
    width: 10vw;
    height: 3vw;
    border: 2px solid aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aquamarine;
    transition: all 0.2s ease-in-out;
    border-radius: 2vw;
    background-color: black;
    font-size: 1vw;
}
.navdata2:hover{
    width: 10vw;
    height: 3vw;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 2vw;
    transition: all 0.2s ease-in-out;
    background-color: black;
}

.mainimg{
    width: 90%;
    height: auto;
    /* border: 3px solid red; */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 3vw;

}

.mainimgborder{
    /* border: 3px solid white; */
    width: 40vw;
}

.mainfont{
    font-size: 4vw;
    width: 30vw;
    height: auto;
    /* border: 3px solid white; */
    text-align: center;
}
.mainfont4{
    font-size: 4vw;
    width: 60vw;
    height: auto;
    /* border: 3px solid white; */
    text-align: center;
}
.box1f{
    font-size: 3vw;
    width: 20vw;
    height: auto;
    /* border: 3px solid white; */
    text-align: center;
}
.box1fd1{
    font-size: 3vw;
    width: 20vw;
    height: auto;
    /* border: 3px solid white; */
    text-align: left;
}

.mainfont2{
    color: gray;
    width: 35vw;
    height: auto;
    /* border: 3px solid white; */
    text-align: center;
    font-size: 1vw;
}
.mainfont2d1{
    color: gray;
    font-size: 1vw;
    width: 35vw;
    height: auto;
    /* border: 3px solid white; */
    text-align: left;
}
.mainfont2f{
    color: gray;
    width: 20vw;
    height: auto;
    /* border: 3px solid white; */
    text-align: center;
    font-size: 1.5vw;
}

.mainbtn{
    width: 100%;
    height: 6vw;
    /* border: 3px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.5vw;
    gap: 15vw;
}

.mainbtn1{
    width: 15vw;
    height: 5vw;
    border-radius: 2vw;
    border: 2px solid green;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.mainbtn1:hover{
    width: 15vw;
    height: 5vw;
    border-radius: 2vw;
    border: 2px solid aquamarine;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aquamarine;
    transition: all 0.3s ease-in-out;
}
.mainbtn2{
    position: relative;  
    width: 15vw;
    height: 5vw;
    border-radius: 2vw;
    border: 2px solid aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aquamarine;
    overflow: hidden;
}
.mainbtn2:hover{
    position: relative;  
    width: 15vw;
    height: 5vw;
    border-radius: 2vw;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    overflow: hidden;
    transition: all 0.5s;

    .ani1{
    width: 15vw;
    height: 10vw;
    background-color: aliceblue;
    position: absolute;
    z-index: -1;
    border-radius: 35%;
    animation: ani1 0.2s ease-in;
}
}

.mainfont3{
    font-size: 2vw;
    width: 60vw;
    height: auto;
    /* border: 3px solid white; */
    text-align: center;
}



@keyframes ani1 {
    0%{
        margin-top: 15vw;
    }
    100%{
        margin-top: -1vw;
    }
}

.comp{
    width: 80vw;
    height: 14vw;
    /* border: 3px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
.comp1{
    width: 8vw;
    /* border: 3px solid green; */
}
.comp2{
    width: 15vw;
    height: 5vw;
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 80vw;
    height: auto;
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box1{
    width: 20vw;
    height: auto;
    /* border: 3px solid green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.hr1{
    width: 10vw;
    position: absolute;
    z-index: -1;
    height: 0.3vw;
    background: linear-gradient(to left,blue,rgb(243, 31, 66));
    transform: rotate(90deg);
    margin-left: 25vw;

}
.hr2{
    width: 10vw;
    position: absolute;
    z-index: -1;
    height: 0.3vw;
    background: linear-gradient(to left,blue,rgb(243, 31, 66));
    transform: rotate(90deg);
    margin-right: 25vw;

}

.part1{
    width: 100%;
    height: 80vw;
    /* border: 4px solid green; */
    
}

.div1{
    width: 100%;
    height: 80vw;
    /* border: 4px solid red; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.div11{
    width: 50vw;
    height: 70vw;
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    

}

.img11{
    width: 90%;
    height: auto;
    border: 3px solid aquamarine;
    border-radius: 3vw;
    animation: img1 5s ease-in-out infinite;
}

@keyframes img1 {
    0%{
        margin-top: -20vw;
    }
    50%{
        margin-top: 40vw;
    }
    100%{
        margin-top: -20vw;
    }
    
}

.mainfont4d1{
    font-size: 4vw;
    width: 40vw;
    height: auto;
    /* border: 3px solid white; */
    text-align: center;
}

.divf1{
    width: 80%;
    height: 12vw;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding-left: 2vw;
    border-radius: 2vw;
    background-color: rgb(47, 45, 45);
    cursor: pointer;
}
.divf1:hover{
    width: 80%;
    height: 12vw;
    border: 3px solid aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding-left: 3vw;
    border-radius: 2vw;
    background-color: rgb(51, 77, 80);
    /* transform: scale(1.1); */

    .mainfont4d1, .mainfont2d1{
        color: aliceblue;
        font-size: 1vw;
    }



}

#mar1{
    margin-top: 3vw;
}


.part2{
    width: 100%;
    height: 70vw;
    /* border: 4px solid green; */
    
}

.div21{
    width: 100%;
    height: 20vw;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}

.mainfontc{
    color: aquamarine;
    width: 35vw;
    height: auto;
    /* border: 3px solid white; */
    text-align: center;
    font-size: 1vw;
    text-decoration: underline;
}


.div22{
    width: 100%;
    height: 50vw;
    /* border: 3px solid yellow; */
    overflow: hidden;
}

.aniimg1{
    width: 40vw;
    position: absolute;
    margin-left: 5vw;
    animation: img11 5s ease-in-out infinite;
}
.aniimg2{
    width: 60vw;
    position: absolute;
    margin-left: 35vw;
    margin-top: 5vw;
}

@keyframes img11 {
    0%{
        margin-top: -5vw;
        opacity: 0.8;
    }
    50%{
        margin-top: 10vw;
        opacity: 0.8;
    }
    100%{
        margin-top: -5vw;
        opacity: 0.8;
    }
}


.infscr{
    width: 150vw;
    height: 50%;
    /* border: 3px solid green; */
    display: flex;
    align-items: center;
    gap: 2vw;
    
}

#scr1{
    animation: ok1 10s infinite ease-in-out;
}

#scr2{
    animation: ok2 10s infinite ease-in-out;
}

@keyframes ok1 {
    0%{
        transform: translateX(4vw);
    }
    50%{
        transform: translateX(-33vw);
    }
    100%{
        transform: translateX(4vw);
    }
}
@keyframes ok2 {
    0%{
        transform: translateX(4vw);
    }
    50%{
        transform: translateX(-55vw);
    }
    100%{
        transform: translateX(4vw);
    }
}

.inff1{
    color: gray;
    width: 25vw;
    height: auto;
    /* border: 3px solid white; */
    text-align: justify;
    font-size: 1vw;
}

.scrbox1{
    width: 30vw;
    height: 80%;
    border: 3px solid rgb(2, 165, 111);
    border-radius: 2vw;
    background-color: rgb(47, 45, 45);
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
.scrbox1:hover{
    border: 3px solid aquamarine;
    background-color: rgb(51, 77, 80);

    .inff1{
    color: aqua;
    width: 25vw;
    height: auto;
    /* border: 3px solid white; */
    text-align: justify;
    font-size: 1vw;
}

}



.infdata{
    width: 90%;
    height: 5vw;
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.it1{
    width: 4vw;
    height: 4vw;
    /* border: 2px solid yellow; */
    border-radius: 50%;
}
.it2{
    width: 20vw;
    height: 2vw;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1vw;
}
.it3{
    width: 20vw;
    height: 2vw;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: start;
    align-items: center;
    color: aquamarine;
    text-decoration: underline;
    font-size: 1vw;
}

.colu{
    width: 20vw;
    height: 5vw;
    /* border: 4px solid orange; */
}

.div212{
    width: 100%;
    height: 25vw;
    border: 2px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}











