p {
    font-size: medium;
    line-height: 10px;
}

#site-title {
    background-color: rgb(200, 243, 229);
    color: rgb(255, 0, 0);
    padding: auto;
    height: 150px;
    text-align: center;
}

.muted {
    color: gray;

}

.highlight {
    background-color: azure;
    border: 3px solid;
    height: 20px;
    text-align: left;
    padding-top: 6px;
}

.highlight-text {
    background-color: lightblue;

}

.highlight-text {
    background-color: yellow;
}

#override {
    override-colors: yellow;
}

.striped-list {
    font-style: italic;
}

h1,
h2,
h3 {
    margin-bottom: 15px;
}

img {
    border: 2px solid;
    padding: auto;
}

.striped-list li:nth-child(odd) {
    background-color: lightgray;
}

.striped-list li:nth-child(even) {
    background-color: white;
}