
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: 0;
}


body {
    font-family:  ScandiaWeb, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 1rem;

}

.main{
    width: 100%;
    height: 200vw;
    /* border: 3px solid green; */
}

.nav{
    width: 100%;
    height: 6vw;
    /* border: 3px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.logo{
    width: 7vw;
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.navdata{
    width: 32vw;
    height: 6vw;
    /* border: 3px solid green; */
    display: flex;
    justify-content: space-evenly;
    align-items: end;

}

.navdata1{
    width: 8vw;
    height: 4vw;
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
}

.navani{
    width: 100%;
    height: 0.3vw;
    background-color: black;
    position: absolute;
    margin-left: -3vw;
    
}
#navdata1{
    width: 5vw;
}
#navdata2{
    width: 5vw;
}
#navdata5{
    width: 5vw;
}
#navdata1:hover{
    .navani1{
        width: 100%;
        height: 0.3vw;
        background-color: black;
        border-radius: 0.5vw;
        animation: navani 0.5s ease-in-out;
    }
}
#navdata2:hover{
    .navani2{
        width: 100%;
        height: 0.3vw;
        background-color: black;
        border-radius: 0.5vw;
        animation: navani 0.5s ease-in-out;
    }
}
#navdata3:hover{
    .navani3{
        width: 100%;
        height: 0.3vw;
        background-color: black;
        border-radius: 0.5vw;
        animation: navani 0.5s ease-in-out;
    }
}
#navdata4:hover{
    .navani4{
        width: 100%;
        height: 0.3vw;
        background-color: black;
        border-radius: 0.5vw;
        animation: navani 0.5s ease-in-out;
    }
}
#navdata5:hover{
    .navani5{
        width: 100%;
        height: 0.3vw;
        background-color: black;
        border-radius: 0.5vw;
        animation: navani 0.5s ease-in-out;
    }
}
#navdata6:hover{
    .navani6{
        width: 100%;
        height: 0.3vw;
        background-color: black;
        border-radius: 0.5vw;
        animation: navani 0.5s ease-in-out;
    }
}

#navdata6{
    margin-top: 1.8vw;
}

#navdata7{
    width: 4vw;
    margin-top: 1.8vw;
    padding-top: 0.4vw;
}
#navdata7:hover{
    .navani7{
        width: 100%;
        height: 0.3vw;
        background-color: black;
        border-radius: 0.5vw;
        animation: navani 0.5s ease-in-out;
    }
}

#navdata8{
    width: 4vw;
    margin-top: 1.8vw;
}
#navdata8:hover{
    .navani8{
        width: 100%;
        height: 0.3vw;
        background-color: black;
        border-radius: 0.5vw;
        animation: navani 0.5s ease-in-out;
    }
}


@keyframes navani {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
    
}

.input{
    width: 30vw;
    height: 3vw;
    padding: 1vw;
    font-size: 1.2vw;
    font-weight: 700;
}

.icone{
    width: 2vw;
}

.mainimg{
    width: 100%;
    height: 50vw;
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainimg img {
    display: block;
}

.mainimg1 {
    width: 50vw;
    height: 100%;
    /* border: 3px solid green; */

}

.mainimgblock{
    width: 50vw;
    height: 100%;
    /* border: 3px solid green; */
    background-color: #edf0ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.mainimgblocktex1{
    width: 100%;
    height: 2.5vw;
    font-size: 1.2vw;
    /* border: 3px solid green; */
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 4vw;
}

.mainimgblocktex2{
    width: 100%;
    height: 15vw;
    font-size: 5vw;
    font-weight: 600;
    /* border: 3px solid green; */
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 4vw;
}

.mainbtns{
    width: 100%;
    height: 10vw;
    font-size: 5vw;
    font-weight: 600;
    /* border: 3px solid green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.mainbtn1{
    width: 15vw;
    height: 4vw;
    font-size: 1.3vw;
    border: 0.2vw solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    background-color: black;
    color: white;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease-in-out;



}

.mainbtn1:hover{
    opacity: 0.8;
}

.mainbtn2{
    width: 15vw;
    height: 4vw;
    font-size: 1.3vw;
    border: 0.2vw solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    color: black;
    font-weight: 450;
    cursor: pointer;
    transition: all 0.7s ease-in-out;


}

.mainbtn2:hover{
    font-weight: 600;
}

.part1{
    width: 100%;
    height: 70vw;
    /* border: 3px solid green; */
}

.part1text1{
    width: 100%;
    height: 5vw;
    font-size: 3vw;
    font-weight: 400;
    /* border: 3px solid green; */
    padding-left: 5vw;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vw;

}
.part1btn{
    width: 10vw;
    height: 3vw;
    font-size: 1.1vw;
    font-weight: 400;
    /* border: 0.2vw solid green; */
    border-radius: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef1f0;
    cursor: pointer;

}
.part1imgs{
    width: 100%;
    height: 60vw;
    /* border: 3px solid green; */
    overflow: auto;
    scrollbar-width: none;
    padding: 4vw;
    

}
.part1imgsbox{
    width: 240vw;
    height: 50vw;
    font-size: 3vw;
    font-weight: 400;
    /* border: 3px solid green; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5vw;


    

}
.part1imgs1{
    width: 30vw;
    height: 50vw;
    font-size: 3vw;
    font-weight: 400;
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    cursor: pointer;
    

}
.part1imgs11{
    width: 100%;
    height: 35vw;
    font-size: 3vw;
    font-weight: 400;
    /* border: 3px solid green; */
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url('https://res.cloudinary.com/dsuhb6swy/image/upload/v1762451946/Travel-Backpack-45-Parent-Primary_ekpdc7.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.5s ease-in-out;
    border-radius: 1vw;
}
.part1imgs11:hover{
    width: 100%;
    height: 35vw;
    font-size: 3vw;
    font-weight: 400;
    /* border: 3px solid green; */
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url('https://res.cloudinary.com/dsuhb6swy/image/upload/v1762453603/Screenshot_2025-11-06_235622_nr1xtt.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.part1imgs11text1{
    width: 100%;
    height: 2.5vw;
    /* border: 3px solid green; */
    font-size: 1.2vw;
    font-weight: 500;
}

.part1imgs11text2{
    width: 100%;
    height: 2.5vw;
    /* border: 3px solid green; */
    font-size: 1.2vw;
    font-weight: 500;
    color: #606562;
}




